<?xml version="1.0" encoding="utf-8"?> <!-- TODO: Is this needed? -->
<!-- Version names:
					Alpha [0.5 .. 0.8),
					Beta [0.8 .. 1.0)
					Release [1.0 ..

	Version Codes are numbered the same as the version name times 1000.
	So versionName 0.751 will have a versionCode of 751 (starting with
	version 0.6 or 600).

		Pro and Lite versions will be a seperate project, but will have
		similar numbering.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sleepfuriously.hpgworkout"
	android:versionCode="900"
	android:versionName="0.9"
	android:installLocation="auto"
	>

	<!--
	This is version 3, while my build target (in the
	preferences) is 8.  This allows the manifest to compile.
	-->
	<uses-sdk android:minSdkVersion="8"
		android:targetSdkVersion="8"
		/>

	<!-- Permissions -->
<!--	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->

	<!-- Screen Sizes -->
	<!-- I don't include largeScreens="false" because I want users
		to have the ability to turn on/off compatibility mode.
		Todo:
		Once I have large screen layouts done, I should disable
		compatibility mode.
			http://developer.android.com/guide/practices/screen-compat-mode.html#Disable
		-->
	<supports-screens
		android:resizeable="true"
		android:anyDensity="true"

		android:smallScreens="false"
		android:normalScreens="true"
		/>

	<application
		android:name=".WGlobals"
		android:icon="@drawable/hpglogo_med"
		android:label="@string/app_name" >

		<!-- Main Activity -->
		<activity
			android:label="@string/app_name"
			android:name=".WelcomeActivity"
			android:launchMode="singleTask">
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Secondary Activities -->
		<activity android:name=".GridActivity2" />
		<activity android:name=".AddExerciseActivity"
			android:windowSoftInputMode="stateHidden"
			/>
		<activity android:name=".EditExerciseActivity"
			android:windowSoftInputMode="stateHidden"
			/>
		<activity android:name=".RowEditActivity"/>
		<activity android:name="com.sleepfuriously.hpgworkout.AddSetActivity"
			android:windowSoftInputMode="stateHidden"
			/>
		<activity android:name=".InspectorActivity3"/>
		<activity android:name=".PrefsActivity"/>
		<activity android:name=".GraphActivity"/>
		<activity android:name=".GraphSelectorActivity"/>
		<activity android:name=".ExerciseTabHostActivity"
			android:windowSoftInputMode="stateHidden"
			/>

		<activity android:name=".ManageDatabaseActivity"
			android:windowSoftInputMode="stateHidden"
			/>

		<!-- These Activities look like Dialogs -->
		<activity android:name=".NumberActivity"
			android:theme="@android:style/Theme.Dialog"
			/>
		<activity android:name=".TextActivity"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateVisible|adjustResize"
			/>
		<activity android:name=".StressActivity"
			android:theme="@android:style/Theme.Dialog"
			/>
		<activity android:name=".HistoryActivity"
			android:theme="@android:style/Theme.Dialog"
			/>
		<activity android:name=".EditSetActivity"
			android:theme="@android:style/Theme.Dialog"
			/>
		<activity android:name=".AddWeightItemActivity"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateVisible|adjustResize"
			/>
		<activity android:name=".AddDistItemActivity"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateVisible|adjustResize"
			/>
		<activity android:name=".AddTimeItemActivity"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateVisible|adjustResize"
			/>
		<activity android:name=".GraphOptionsActivity"
			android:theme="@android:style/Theme.Dialog"
			/>

		<activity android:name=".ManageDatabasePopupActivity"
			android:theme="@android:style/Theme.Dialog"
			/>
	</application>

</manifest>
